*.ipch
*.db
*.pdb
*.exe
build/.vs
build/x64
build/CMakeFiles
build/Debug
build/Release
build/isp_emulation.dir
*.obj
*.tlog
*.iobj
*.log
*.vcxproj
*.filters
*.user
*.sln
build/CMakeCache.txt
build/cmake_install.cmake