*.yuv
*.ipch
*.db
*.pdb
*.exe
*.ilk
*.pnm
*.NEF
*.jpg
bin/Debug/*.dll
bin/Release/*.dll
build/.vs
build/x64
build/CMakeFiles
build/src
build/Makefile
build/*.raw
build/*.RAW
build/*.pnm
build/*.PNM
*.obj
*.tlog
*.iobj
*.log
*.vcxproj
*.filters
*.user
*.sln
build/CMakeCache.txt
build/cmake_install.cmake
build/.cmake
build/compile_commands.json
build/src
lib/*.a
lib/Debug/*.lib
lib/Release/*.lib